.auth-container {
	display: flex;
	justify-content: center;
}
.sign-in,
.sign-up {
	width: 30vw;
	margin: 20px 40px;
}
.google-sign-in-button {
	background-color: #4285f4;
	color: #ffffff !important;
	border: none !important;

	&:hover {
		background-color: #357ae8;
	}
}
