.cart-dropdown {
	width: 280px;
	height: 380px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid #222222;
	background-color: #ffffff;
	position: absolute;
	top: 70px;
	right: 0;
	z-index: 100;

	.cart-items {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	button {
		margin-top: auto;
	}

	.cart-empty-message {
		margin: 40px auto;
	}
}
