.custom-button {
	min-width: 165px;
	width: auto;
	height: 50px;
	line-height: 50px;
	font-family: inherit;
	text-transform: uppercase;
	background-color: #222222;
	color: #ffffff;
	padding: 0 20px;
	margin: 0 10px;
	border: none;
	outline: none;
	cursor: pointer;

	&:hover,
	&.inverted {
		background-color: #ffffff;
		color: #222222;
		border: 1px solid #222222;
	}

	&.inverted {
		&:hover {
			background-color: #222222;
			color: #ffffff;
			border: none;
		}
	}
}
